.googleBook {
    width: 23em;
    height: 21em;
    padding: 3px;
    margin: 18px;
    box-shadow: 1px 0px 10px -5px black;
    background-color: cornsilk;
}

.queueBook {
    width: 13em;
    height: 16em;
    padding: 3px;
    margin: 18px;
    box-shadow: 1px 0px 10px -5px black;
    background-color: cornsilk;
}

.wishlistBook {
    width: 23em;
    height: 18em;
    padding: 3px;
    margin: 18px;
    box-shadow: 1px 0px 10px -5px black;
    background-color: cornsilk;
}

.bookDiv {
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    flex-direction: row;
    padding: 10px;
}

.bookBody {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.btn {
    margin: 2px;
}

.detailsButton {
    height: 40px;
    background-image: url(https://www.google.com/intl/en/googlebooks/images/gbs_preview_sticker1.png);
    background-repeat: no-repeat;
    background-color: white;
}

.buttonRow {
    justify-content: space-between;
}

.highlighted {
    box-shadow: rgb(224, 222, 52) 0px 0px 7px 3px;
}

.progressBar {
    margin: 5px 2px 1.8px;
    height: 38px;
}

.columnButton {
    width: 5px;
}

.detailsModal:first-child {
    max-height: 15em;
    max-width: 15em;
    margin: 1em;
}

.detailsModal > * {
    padding: 5px;
}

.detailsImage:first-child {
    max-height: 7em;
    max-width: 7em;
    min-height: 5em;
    min-width: 5em;
    margin: 1em;
}

.detailsDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.coverDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detailsModal {
    padding: 1em;
    display: flex;
}

.card-body {
    overflow-y: scroll;
}

.media {
    align-items: center;
}

.media > * {
    padding: 5px;
}

.redButton {
    color: rgb(219, 127, 145);
}