.googleBook {
    width: 20em;
    height: 40em;
    padding: 5px;
    margin: 10px;
}

.bookDiv {
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    flex-direction: row;
    padding: 10px;
}

.btn {
    margin: 2px;
}

.highlighted {
    box-shadow: rgb(224, 222, 52) 0px 0px 7px 3px;
}