.googleBook {
    width: 23em;
    height: 18em;
    padding: 3px;
    margin: 18px;
    box-shadow: 1px 4px 15px -5px black;
    background-color: wheat;
}

.bookDiv {
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    flex-direction: row;
    padding: 10px;
}

.bookBody {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.btn {
    margin: 2px;
}

.detailsButton {
    height: 40px;
    background-image: url(https://www.google.com/intl/en/googlebooks/images/gbs_preview_sticker1.png);
    background-repeat: no-repeat;
    background-color: white;
}

.buttonRow {
    justify-content: space-between;
}

.highlighted {
    box-shadow: rgb(224, 222, 52) 0px 0px 7px 3px;
}

.progressBar {
    margin: 10px 1px 10px 1px;
}

.columnButton {
    width: 5px;
}